PROJECT_ID=us-con-gcp-sbx-0001190-100925
REGION=us-central1
RAW_BUCKET=${PROJECT_ID}-ccda-raw
PARSED_BUCKET=${PROJECT_ID}-ccda-parsed
REF_BUCKET=${PROJECT_ID}-ref
CLOUD_FUNCTION_NAME=parse-ccda
CLOUD_RUN_NAME=reconcile
